* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 56px;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    background-color: white;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-left {
    float: left;
    padding-left: 30px;

}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertically aligns items */
    align-items: center;
    height: 56px;

}

.header-right>h1 {
    font-size: 30px;
    margin: auto;
    font-family: "Yasashii";

}

.clear {
    clear: both;
}

.header-logo {
    height: 40px;
    margin-top: 8px;
}

.header-right a {
    line-height: 56px;
    color: #5a5c5f;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px;
}

.footer {
    padding: 0px 30px;
    height: 120px;
    background-color: #2f3a44;
    color: #e8e8e8;
    padding-top: 20px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
    padding-top: 50px;
}

.footer-left p {
    margin-bottom: 8px;
}

.main-visual {
    margin-top: 56px;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.main-visual::after {
    content: "";
    display: table;
    clear: both;
}

.part {
    float: left;
    height: 100%;
}

.left {
    width: 10%;
    padding-left: 0;
    text-align: center;
    background-color: rgb(250, 250, 250);
    height: 91%;
    overflow: auto;
}

.right {
    width: 90%;
    overflow: auto;
    height: 91%;
}

.image-container {
    background-color: rgb(247, 245, 245);
    padding-top: 20%;
    padding-bottom: 20%;
}

.image-container:hover {
    background-color: rgb(212, 209, 209);
    transition: background-color .7s;
    cursor: pointer;
}

.add-button {
    height: 25px;
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left>p {
    font-size: 20px;
}

.left>ul>li {
    padding: 25px 0;
    font-size: 20px;
    font-family: 'Kosugi Maru', sans-serif;
}

.left>ul>li:hover {
    background-color: rgb(240, 238, 238);
    transition: background-color .7s;
    cursor: pointer
}

.page-set {
    height: 100%;
    overflow: hidden;

}

.label {
    height: 56px;
    width: 100%;

    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #e9e9e9 0%, #f6f6f6 74%);
    box-shadow: 0 0 10px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label>h2 {
    font-size: 34px;
    font-family: "Yasashii";
}

.to-do-description {
    width: 100%;
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    border-bottom: solid 1px gray;
}
.to-do-description:last-child {
    border-bottom: 0;
}

.to-do-description>p {
    padding-left: 125px;
    font-size: 22px;
    font-family: 'Noto';
}

.to-do-description>img {
    height: 45px;
    width: 45px;
    margin-left: 20px;
}

@font-face {
    font-family: 'Yasashii';
    src: url("./yasashii.ttf") format("truetype");
    ;
}

@font-face {
    font-family: 'Noto';
    src: url("./NotoSerifJP-SemiBold.otf");
    ;
}

.move {
    position: absolute;
    right: 0;
    width: 700px;
}

.counter {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 70px;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

/*//////////////////////////////////////////////////////////////////////////////*/
input {
    display: none;
}

label {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-50%);
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 21px;
    height: 21px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

label:hover:before {
    width: 16.5px;
    height: 16.5px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

label:active {
    transform: translateY(-50%) scale(0.9);
}

.tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    margin-left: 4px;
    transform: rotateZ(-40deg);
}

.tick_mark:before,
.tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

.tick_mark:before {
    left: 0;
    bottom: 0;
    width: 3px;
    height: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-68px)
}

.tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(78px)
}

input:checked+label {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}

input:checked+label:before {
    width: 0;
    height: 0;
}

input:checked+label .tick_mark:before,
input:checked+label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
}

/*sdassadasdasdasodshodjvjbdvjonjnsdnancijcjasniasiasidojasiodjasoidjioasjdioojiasdassadasdsdsadas*/
button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    width: 100px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    will-change: transform;
    transition: all 0.2s ease;
    border: 2px solid #ff5126;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    color: #ff5126;
    outline: none;
    text-align: center;
}

button[type="submit"]:hover {
    background: #ff5126;
    color: #fff;
}

button[type="submit"]:active {
    font-size: 15px;
    transform: translateY(1px);
}

button[type="submit"].active {
    font-size: 0;
    border-radius: 25px;
    width: 50px;
    background: transparent;
    left: 69%;
}

button[type="submit"].loader {
    border-right: 2px solid #fff;
    animation: loader 0.4s linear infinite;
}

button[type="submit"].success {
    background: #3bb873;
    border-color: #3bb873;
    font-size: 14px;
    color: #fff;
}

.send {
    margin: 0 auto;
    margin-top: 40px;
}

@keyframes loader {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}